
/* Dropdown Button */
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/*BASE & GENERAL PAGE STYLES*/

:root {
  --primary-color: #333;
  --accent-color1: lightgoldenrodyellow;
  --accent-color2: #008080;
  --accent-color3: #fff;
  font-size: 10px;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  color: var(--primary-color);
  font-size: 1.8rem;
  line-height: 1.3;
  box-sizing: border-box;
}
a {
  color: var(--accent-color1);
  text-decoration: none;
}

h1 {
  font-size: 2.8rem;
}
main {
  position: relative;
  padding: 60px;
  top: 100px; /*This styling should be changed according to the height of your navigation bar. Otherwise, the top of the 'main' content would be hidden behind the fixed navigation section*/
}

/*TOP NAVIGATION SECTION - MOBILE FIRST DESIGN*/
.topNav {
  position: fixed;
  overflow: hidden;
  top: 0px;
  left: 0px;
  width: 100%;
  background: transparent;
  z-index: 1000;
}
/*Styling for dropdown menu visible after menu bars are clicked on mobile version*/
.menu {
  background: var(--accent-color1);
  border-right: 1px solid var(--accent-color2);
  display: none;
  width: fit-content;
  height: 100vh;
  padding: 20px 40px;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.menu ul li {
  color: var(--accent-color2);
  padding: 15px 0;
}
.menu ul li:hover {
  color: #fff;
}
/*Styling for the menu bars on mobile version*/
.menu-toggle {
  color: var(--primary-color);
  text-align: right;
  font-size: 1.6rem;
}
.menu-toggle a:hover {
  color: var(--accent-color3);
  border: none;
}
.menu-toggle a:focus {
  color: var(--accent-color3);
}

/*Styling for placeholder logo block*/
.logoImg {
  height: 50px;
  width: 50px;
  background: lightgray;
}
/*Syling for the flexbox holding the logo and links (or menu bars on mobile version)*/
.menuFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px 5px 40px;
  background: var(--accent-color2);
}
/*Styling for the list of links visible on desktop version only*/
.menuDeskTop {
  display: none;
}
.menuDeskTop ul {
  font-size: 1.4rem;
  line-height: 3rem;
  text-transform: uppercase;
  list-style: none;
}
.menuDeskTop ul li {
  display: inline-block;
  padding: 0px 15px 0px 15px;
}
.menuDeskTop ul li a:hover {
  border-bottom: 3px solid var(--accent-color1);
}

/*MEDIA QUERIES to switch from mobile version to tablet/desktop version*/
@media screen and (min-width: 750px) {
  .menu-toggle {
    display: none;
  }
  .menuDeskTop {
    display: block;
  }
  .menuFlex {
    align-items: flex-end;
  }
}

/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}