{% extends "BTClayout.html" %}
{% block content %}
    <div class="site-header-logo">
        <h1 class="text-center">
            Analytics
        </h1>
    </div>
    <div class="row p-4">
        <div class="card m-auto" style="width: 90%;" data-aos="fade-left">
            <div class="card-body">
                <div id="chart1"></div>
                <p class="card-text">Bitcoin (₿) is a decentralized digital currency, without a central bank or single administrator, that can be sent from user to user on the peer-to-peer bitcoin network without the need for intermediaries.Transactions are verified by network nodes through cryptography and recorded in a public distributed ledger called a blockchain. The cryptocurrency was invented in 2008 by an unknown person or group of people using the name Satoshi Nakamoto. The currency began use in 2009 when its implementation was released as open-source software.

Bitcoins are created as a reward for a process known as mining. They can be exchanged for other currencies, products, and services. Bitcoin has been criticized for its use in illegal transactions, the large amount of electricity (and thus carbon footprint) used by mining, price volatility, and thefts from exchanges. Some investors and economists have characterized it as a speculative bubble at various times. Others have used it as an investment, although several regulatory agencies have issued investor alerts about bitcoin.

A few local and national governments are officially using Bitcoin in some capacity, with two countries, El Salvador and the Central African Republic, adopting it as a legal tender.

The word bitcoin was defined in a white paper published on 31 October 2008.It is a compound of the words bit and coin.No uniform convention for bitcoin capitalization exists; some sources use Bitcoin, capitalized, to refer to the technology and network and bitcoin, lowercase, for the unit of account. The Wall Street Journal The Chronicle of Higher Education and the Oxford English Dictionary advocate the use of lowercase bitcoin in all cases.</p>
            </div>
        </div>
    </div>
        <div class="card mb-4 m-auto" style="width: 90%;" data-aos="fade-left">
            <div class="card-body">
                <h1 class="card-text"></h1>
                <div id="chart2"></div>
            </div>
        </div>
<!-- plotly CDN -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script type="text/javascript">
        var graphs1 = {{ graph1JSON | safe}};
        Plotly.plot("chart1", graphs1,{});
        var graphs2 = {{ graph2JSON | safe}};
        Plotly.plot("chart2", graphs2,{});
    </script>
{% endblock %}